In [6]:
#Import dependencies
import pandas as pd

#Import CSV
yt_df = pd.read_csv('Resources/most_subscribed_youtube_channels.csv')

yt_df.head()

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,"222,000,000","198,459,090,822","17,317",Music,2006
1,2,YouTube Movies,"154,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"140,000,000","135,481,339,848",786,Education,2006
3,4,SET India,"139,000,000","125,764,252,686","91,271",Shows,2006
4,5,Music,"116,000,000",0,0,NaN,2013

In [9]:
gaming = yt_df.loc[yt_df['category'] == 'Gaming']
gaming

,rank,Youtuber,subscribers,video views,video count,category,started
5,6,PewDiePie,"111,000,000","28,469,458,228","4,497",Gaming,2010
43,44,JuegaGerman,"46,100,000","13,698,034,536","1,959",Gaming,2013
47,48,Fernanfloo,"45,100,000","9,966,728,650",541,Gaming,2011
59,60,A4,"41,200,000","16,717,234,472",645,Gaming,2014
62,63,elrubiusOMG,"40,400,000","7,483,116,325",705,Gaming,2011
...,...,...,...,...,...,...,...
987,988,Coisa de Nerd,"11,000,000","3,419,435,728","1,962",Gaming,2009
988,989,Taylor RS,"11,000,000","3,306,502,621","1,845",Gaming,2016
995,996,JP Plays,"10,900,000","4,609,300,218","3,528",Gaming,2014
997,998,Games EduUu,"10,900,000","3,093,784,767","1,006",Gaming,2011
998,999,Hueva,"10,900,000","3,040,301,750",831,Gaming,2012